/**
 * Global selectors and body/html rules
 */

@use "../helpers/colors" as *;
@use "../helpers/fonts" as *;

::selection {
  background: color(secondary);

  color: color(primary);
  text-shadow: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

html {
  @include t(base);

  background-color: color(secondary);
  scrollbar-width: none;
  scroll-behavior: smooth;

  color: color(secondary);
  overflow-x: hidden;

  &.is-scroll-blocked {
    &,
    body {
      height: 100lvh;
      overflow: hidden;
    }
  }
}

body {
  background-color: color(primary);
  overflow-x: hidden;
  overflow-y: visible;

  font-family: inherit;
}

/* Device-specific flows */
@media (hover: hover) and (pointer: fine) {
  a, button, .interactive {
    transition-duration: 0.1s !important;
  }
}
