/**
 * Visibility utility classes
 */

/* Visually hidden element but readable by screen readers and robots */
.u-sr-only {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;
  clip-path: rect(0, 0, 0, 0);
  overflow: hidden;
}

[data-intersect='fade-up'] {
  transform: translateY(20px);
  opacity: 0;
  transition:
    transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease;
  will-change: transform, opacity;

  &.is-in-view {
    transform: translateY(0);
    opacity: 1;
  }
}
