<footer class="site-foot">
  <div class="site-foot__logo">
    <a href="/">
      <svg
        width="280"
        height="280"
        viewBox="0 0 280 280"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="140"
          y="195"
          text-anchor="middle"
          font-family="Arial Black, Arial, Helvetica, sans-serif"
          font-weight="900"
          font-size="160"
          fill="#160000"
        >KS</text>
      </svg>

      <span class="u-sr-only">Kartik S</span>
    </a>
  </div><!-- .site-foot__logo -->
</footer>

<style lang="scss">
  .site-foot {
    @include flex(row, center, center);

    position: relative;
    z-index: 3;

    padding: 1.5rem;

    border-top: 1px solid color(secondary);

    @include mq(phone) {
      padding: 1rem;
    }

    &__logo {
      svg {
        display: block;
        width: 3rem;
        height: 3rem;

        @include mq(phone) {
          width: 1.875rem;
          height: 1.875rem;
        }
      }
    }
  }
</style>
